let mapleader=","
set surround
set easymotion
set number relativenumber
set ideavimsupport+=singleline
set scrolloff=3

set NERDTree
set vim-paragraph-motion
set highlightedyank

map <leader>t :NERDTree<CR>
map <leader>f :NERDTreeFind<CR>
